<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" style="color:orange; font-weight:bold;font-size:35px" routerLink=" "> <i class="fa fa-magic" aria-hidden="true"></i> GIPHER APP</a>
  <a class="navbar-brand" style="color:orange; font-weight:bold;font-size:35px" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">     
      <form class="form-inline my-2 my-lg-0">
        <div class = "container">
           <ul class="nav navbar-nav">
              <li class="nav-item" >
                <a class="nav-link mx-4" routerLink="/dashboard"><i class="fa fa-hashtag" aria-hidden="true"></i> Dashboard</a>
              </li>
              <li class="nav-item">    
                <a class="nav-link mx-4" routerLink="/favourite"> <i class="fa fa-heart-o" aria-hidden="true"></i> Favourite</a>
              </li>
              <li class="nav-item">
                <a routerLink="/recommend" class="nav-link mx-4"><i class="fa fa-check" aria-hidden="true"></i> Recomend </a>
              </li>
              <li class="nav-item">
                <a routerLink="/search" class="nav-link mx-4"><i class="fa fa-search" aria-hidden="true"></i>  Search</a>
              </li>
              <li class="nav-item logoutMargin">
                <a routerLink="/edit" class="nav-link mx-4"><i class="fa fa-pencil" aria-hidden="true"></i> Profile</a>
              </li>   
              <li class="nav-item logoutMargin">
                <a routerLink="/login" class="nav-link mx-4"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
              </li>    
            </ul> 
          </div>
        </form>     
      </ul>
    </div>
</nav>
<br>
<div class="cardCenter">

<div class="card" style="width:300px; height:250px">
    <img [src]="fav.data.images.downsized.url" alt="Image">
</div>
  
</div>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> You have successfully Commented.
  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">OK</span>
  </button>
</div>
<div class="card-body">

<form [formGroup]="register" (ngSubmit)="collection()">
            
    <div class="form-group col-sm-6">
        <label class="heading">Comments</label>
        <br>
        <textarea id="w3review" name="w3review" rows="1" cols="50" class="form-control" placeholder="Enter Comments" formControlName="comment">           
        </textarea>  
        <br>     
        <button type="submit" class="btn btn-primary mx-1"> Post</button>
    </div>  
</form>
    <div class="col-sm-4">
      <div *ngFor="let c of commentsList">
      <h4>{{c.comment}}</h4>
      </div>
      <br>
      <br>
      <br>

      
    </div>
    <br>
    <br>
    <br>
</div>