<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" style="color:orange; font-weight:bold;font-size:35px" routerLink=" "> <i class="fa fa-magic" aria-hidden="true"></i> GIPHER APP</a>
      <a class="navbar-brand" style="color:orange; font-weight:bold;font-size:35px" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">     
    
          <form class="form-inline my-2 my-lg-0">
            <div class = "container">       
    <ul class="nav navbar-nav">
      <li class="nav-item" >
        <a class="nav-link mx-5" routerLink="/dashboard"><i class="fa fa-hashtag" aria-hidden="true"></i> Dashboard</a>
      </li>
      <li class="nav-item">    
        <a class="nav-link mx-5" routerLink="/favourite"> <i class="fa fa-heart-o" aria-hidden="true"></i> Favourite</a>
      </li>
      <li class="nav-item">
        <a routerLink="/recommend" class="nav-link mx-5"><i class="fa fa-check" aria-hidden="true"></i> Recomend </a>
      </li>
      <li class="nav-item">
        <a routerLink="/search" class="nav-link mx-5"><i class="fa fa-search" aria-hidden="true"></i>  Search</a>
      </li>
      <li class="nav-item logoutMargin">
        <a routerLink="/edit" class="nav-link mx-5"><i class="fa fa-pencil" aria-hidden="true"></i> Profile</a>
      </li>   
      <li class="nav-item logoutMargin">
        <a routerLink="/login" class="nav-link mx-5"><i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a>
      </li>  
  </ul>
            
            </div>
          </form>    
        </ul>
      </div>
    </nav>
    
   <h2 class="some" style="color:chocolate; font-weight:600; text-align: center; margin-top: 100px;"> Our Available Gif's </h2>
    <div class="gifs">
      <div class="gif" *ngFor="let gif of gifs">
      <a class="m-2" routerLink="/displayCard/{{gif.id}}"><img [src]="gif.images.downsized.url" alt="Image">
      
      <div class="text-center class01">
        <a class="m-2" routerLink="/update/{{gif.id}}"> <button class="btn btn-primary" style="background-color: black;">Favourite</button></a>
        
    </div></a>
  </div>
  </div>
  </body>
</html>
<div>
<!--<app-gifs></app-gifs></div>-->
